@import url("https://fonts.googleapis.com/css2?family=Winky+Sans:wght@500&display=swap");

.header {
  display: flex;
  justify-content: center;
  padding: 1rem;
  font-family: "Winky Sans", sans-serif;
  font-size: clamp(2.5rem, 10vw, 4rem);

  h1 {
    text-align: center;
  }
}
